html {
    background-color: blue;
}

body {
    background-color: green;
}

main {
    background-color: purple;
}

h1 {
    font-family: "Futura";
    font-size: 1em;
}

.box {
    background-color: orange;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.media_bucket {
    background-color: red;
    flex-grow: 1;
    /*min-width: 240px;*/
}

.media_bucket_header {
    border-bottom: 2px solid black;
}

@media only screen and (max-width: 800px)
{
    html {
        background-color: yellow;
    }

    .box {
        flex-direction: column;
    }
}